.slide {
    margin-left: 2px;
    height: 160px;
    background: #bbd3ea;
    overflow: hidden;
    font-size: 1em;
    line-height: 1em;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}

.title {
    color: rgb(29, 27, 27);
}