.slide {
    margin: auto;
    height: 20em;
    overflow: hidden;
    font-size: 1em;
    line-height: 1em;
    display: table-cell;
    vertical-align: middle;
    background: none;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 500;
    font-family: origin-super-condensed, sans-serif;
}

.title {
    margin-top: 5px;
    color: rgb(255, 0, 0) !important;
}

.carousel-caption {
    padding-bottom: 100px;
}

.ant-carousel.slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    overflow: hidden;
}

.ant-carousel.slick-slide h3 {
    color: #fff;
    position: absolute;
}

.ant-card-body {
    margin-left: 5%;
}

.div1 {
    background-image: url(./pics/Optimized-pic1.jpg);
    width: 1200px;
    height: 600px;
}

.div2 {
    background-image: url(./pics/Optimized-pic2.jpg);
    width: 1000px;
    height: 600px;
}

.div3 {
    background-image: url(./pics/Optimized-pic3.jpg);
    width: 1000px;
    height: 600px;
}

/* .slide {
    background: none;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 500;
    font-family: origin-super-condensed, sans-serif;
} */

.ant-carousel .slick-dots li button {
    background: rgb(252, 4, 4);
}