.slide {
    margin: auto;
    height: 160px;
    background: #bbd3ea;
    overflow: hidden;
    font-size: 1em;
    line-height: 1em;
    display: table-cell;
    vertical-align: middle;
}

.title {
    color: rgb(29, 27, 27);
}

.carousel-caption {
    padding-bottom: 100px;
}