/* .ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
  text-align: center;
  height: 50vh;
  overflow: hidden;
} */

.colorempaty {
  color: black;
}

.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
  text-align: center;
  height: 50vh;
  overflow: hidden;
  height: 400px;
}

.slick-initialized slick-slider slider {
  height: 100%;
}

/* .slide {
  margin: auto;
  height: 100%;
  overflow: hidden;
  font-size: 1em;
  line-height: 1em;
  display: table-cell;
  vertical-align: middle;
  background: none;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
  font-family: origin-super-condensed, sans-serif;
} */

/* .carousel-caption {
  padding-bottom: 100px;
} */

.ant-carousel.slick-slide h3 {
  color: #fff;
  position: absolute;
}

.ant-card-body {
  margin-left: 5%;
}

.ant-carousel .slick-dots li button {
  background: rgb(252, 4, 4);
}